# Telegram账号信息
PHONE_NUMBER = "+1231223"  # 替换为你的手机号
TWO_FACTOR_PASSWORD = "123123"  # 替换为你的两步验证密码

TELEGRAM_CONFIG = {
    'api_id': '123',
    'api_hash': '123123',
    'session_name': '1231223',
    'proxy': {
        'proxy_type': 'socks5',  # 或者 'http'/'https'
        'addr': '123.123.112.1',  # 代理服务器地址
        'port': 7890,            # 代理服务器端口
        'rdns': True            # 可选，默认为 True
    }
}

TARGET_GROUPS = [
]

SOLANA_TOKEN_PATTERN = r'[1-9A-HJ-NP-Za-km-z]{32,44}'