# config.py
from solana.rpc.api import Client
from solders.keypair import Keypair #type: ignore

PRIV_KEY = ""
RPC = "https://mainnet.helius-rpc.com/?api-key="

client = Client(RPC)
payer_keypair = Keypair.from_base58_string(PRIV_KEY)

JUPITER_SOL_AMOUNT_IN = 0.005  # SOL投入量
JUPITER_SOL_AMOUNT_PER = 100   # 卖出百分比
JUPITER_SLIPPAGE = 10     # 滑点百分比
DELAY_SECONDS = 120         # 延迟卖出时间  


TELEGRAM_CONFIG = {
    'api_id': '',
    'api_hash': '',
    'session_name': '',
    'proxy': {
        'proxy_type': 'socks5',  # 或者 'http'/'https'
        'addr': '',  # 代理服务器地址
        'port': 7890,            # 代理服务器端口
        'rdns': True            # 可选，默认为 True
    }
}

TARGET_GROUPS = [
    -100,
    'moonshotlistings'
]

SOLANA_TOKEN_PATTERN = r'[1-9A-HJ-NP-Za-km-z]{32,44}'